.nav{
  grid-area: n;
  background-color: aquamarine;
}

a{
  color: cornflowerblue;
  text-decoration: none;
}

.active {
  color: white;
}

.currentFriends{
  display: flex;
  padding: 10px;
  justify-content: space-around;
}

.friends{
  padding: 20px 0;
  font-size: 30px;
}